.contactCard {
	font: inherit;
	padding: 0.1rem 0.25rem;
	border: 2px solid #ccc;
	margin-bottom: 1rem;
  width: 60%;
  background: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

I{
 cursor: pointer;
}

@media screen and (max-width: 900px){
  .contactCard{
    width: 85%
  }
}
