.FormContainer{
  width: 50%;
  margin: auto;
  background: #b7cece;
  padding: 24px;
  border-radius: 4px;
  border: 2px solid rgb(236, 233, 233);
}

.InputFields{
  width: 45%;
  margin: 8px;
}

@media screen and (max-width: 900px){
  .FormContainer{
    width: 90%;
  }
  .InputFields{
    width: 90%;
  }
}



