.ContactRow {
	display: flex;
	flex-wrap: wrap;
  justify-content: space-around;
  width: 75%;
}

.Greeting{
  display:flex;
  justify-content: space-around;
  width: 100%;
}

.FilterButtons{
  display:flex; 
  align-items: center;
}

@media screen and (max-width:900px){
  .ContactRow{
    width: 100%
  }
}