.ContactRow {
	display: flex;
	flex-wrap: wrap;
  justify-content: space-around;
}

.Greeting{
  display:flex;
  justify-content: space-around;
  width: 100%;
}

.FilterButtons{
  display:flex; 
  align-items: center;
}