.ContactRow {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.SearchBar{
 margin-bottom: 24px;
 width: 20%;
}

.RadioContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

Input[type="radio"]{
 width: 10px;
}